/*
*.*

!/user
!/user/mods/ServerValueModifier/src/*

!/Aki_Data

!/BepInEx
!/BepInEx/plugins
/BepInEx/plugins/*
!/BepInEx/plugins/SAIN

!.gitignore
!*.json
!*.jsonc
!*.txt
!*.ts

**/cache/
/user/launcher/config.json